.Calculator {
  width: 100%;
}

.Calculator .row {
  align-items: center;
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
}

.Calculator h2 {
  font-size: 32px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}