.CalculatorLottie .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.CalculatorLottie .row.center {
  justify-content: center;
}

.CalculatorLottie .column {
  box-sizing: border-box;
  width: 50%;
}

.CalculatorLottie .column.right {
  display: flex;
  align-items: center;
  justify-content: center;
}