.CalculatorLonely .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.CalculatorLonely .row.center {
  justify-content: center;
}

.CalculatorLonely .column {
  box-sizing: border-box;
  width: 70%;
}
