.App {

}

hr {
  margin: 10vh;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;

}

.row.center {
  justify-content: center;
}

.column {
  box-sizing: border-box;
  width: 50%;
}